<nav>
<div class ="main-nav">
    <div class= "nav-bar">
        <div class="left"><i class="fas fa-search"></i> | SIGN IN</div>
        <div class="center">
            <div class="inner-center-up">
                <h1>Kgool</h1>
            </div>
            <div class="inner-center-down">
                <a href="/loginProducer" class="loginproducerlink">Als Hersteller Anmelden</a>
                <a href="/registerCustomer" class="registeruserlink">Als Kunde Registrieren</a>
                <a href="/registerProducer" class="registerproducerlink">Als Hersteller Registrieren</a>
            </div>
        </div>
        <div class="right">
            <i class="fab fa-facebook"></i>
            <i class="fab fa-twitter-square"></i>
            <i class="fab fa-instagram"></i>
        </div>
    </div>
    <div class="underline">
        <h1>holaaa</h1>
     </div>
</div>
</nav>
<!-- <<img src="./images/Kgool-logo2.png" alt="Kgool Logo" class ="logo-pic" />
<div class="link">
<a href="/login" class="loginlink">ALS KUNDE ANMELDEN</a>
<a href="/loginProducer" class="loginproducerlink">ALS HERSTELLER ANMELDEN</a>
<a href="/registerCustomer" class="registeruserlink">Als Kunde Registrieren</a>
<a href="/registerProducer" class="registerproducerlink">Als Hersteller Registrieren</a>
</div> -->
