
<header>
<img src="./images/Kgool-logo2.png" alt="Kgool Logo" class ="homeimage" />

</header>

<main>
<h1>Bitte trag deine Daten ein</h1>
    <form method="post" class="customerdata">
        <p>Vorname: <input type="text" name="firstname" placeholder="Vorname" id="firstname"> </p>
        <p>Nachname: <input type="text" name="lastname" placeholder="Nachname" id ="lastname"> </p>
        <p>E-mail: <input type="email" name="email" placeholder="E-mail" id ="email"> </p>
        <p>Telefon: <input type="number" name="telefon" placeholder="Telefon" id ="telefon"> </p>
        <p>Kommentar: <input type="text" name="kommentar" placeholder="Kommentar" id ="kommentar"> </p>

    </br> </br>
        <button id="button" type="submit">Info an Hersteller senden</button>
    </form>


</main>

<footer>
    <p>Über Uns / Datenschutz / Contact / Einwilligungsfreigabe {{>logout}}<p>

</footer>
