<header>
{{>navprofilecustomer}}

</header>
<div class="navandmain">

<main>
<form method="post">
    <p>Vorname: <input type="text" name="firstname" value ="{{userData.vorname}}" id="firstname"> </p>
    <p>Nachname: <input type="text" name="lastname" value="{{userData.nachname}}" id ="lastname"> </p>
    <p>E-mail: <input type="email" name="email" value="{{userData.email}}" id ="email"> </p>
    <p>Benutzername: <input type="text" name="benutzername" value="{{userData.benutzername}}" id ="loginname"> </p>
    <p>Passwort: <input type="password" name="password" value="" id ="password"> </p>
</br> </br>
    <button id="button" type="submit">Daten ändern</button>
</form>

</main>
</div>

<footer>
    <div id="footerlink">  Über Uns   |   Datenschutz  |   Contact   |   Einwilligungsfreigabe   |         {{>logout}}<div>

</footer>
