<header>
<img src="./images/Kgool-logo2.png" alt="Kgool Logo" class ="homeimage" />

</header>
<div class="navandmain">
<nav>
<a id="customerinfo" href="/kundenInformationCustomer">Information</a> <br>
<a id="favoritessuppliersinfo" href="/lieblingsfirmen">Meine lieblingsfirmen</a> <br>
<a id="searchlink" href="/welcome">Firma Suchen</a>
</nav>
<main>
<form method="post">
    <p>Vorname: <input type="text" name="firstname" placeholder="{{userData.vorname}}" id="firstname"> </p>
    <p>Nachname: <input type="text" name="lastname" placeholder="{{userData.nachname}}" id ="lastname"> </p>
    <p>E-mail: <input type="email" name="email" placeholder="{{userData.email}}" id ="email"> </p>
    <p>Benutzername: <input type="text" name="benutzername" placeholder="{{userData.benutzername}}" id ="loginname"> </p>
    <p>Passwort: <input type="password" name="password" placeholder="password" value="" id ="password"> </p>
</br> </br>
    <button id="button" type="submit">Daten ändern</button>
</form>

</main>
</div>

<footer>
    <p>Über Uns / Datenschutz / Contact / Einwilligungsfreigabe {{>logout}}<p>

</footer>
