<header>
{{>navprofileproducer}}

</header>
<div class="navandmainprofileproducer">
<nav>
<main>
<h1>Kunden die deine Firma als Favoriten markiert haben!</h1>

<p>Angela Merkel</p>
<p>Ellen Brennan</p>
<p>Marion Cotillard</p>

</main>
</div>

<footer>
    <div id="footerlink">  Über Uns   |   Datenschutz  |   Contact   |   Einwilligungsfreigabe   |         {{>logout}}<div>

</footer>
