<header>
{{>navprofileproducer}}

</header>
<div class="navandmainprofileproducer">
<nav>
<main>
<h1>Kunden die deine Firma als Favoriten markiert haben!</h1>

<p>Angela Merkel</p>
<p>Ellen Brennan</p>
<p>Marion Cotillard</p>

</main>
</div>

<footer>
    <p>Über Uns / Datenschutz / Contact / Einwilligungsfreigabe {{>logout}}<p>

</footer>
