<header>
<img src="./images/Kgool-logo2.png" alt="Kgool Logo" class ="homeimage" />

</header>
<div class="navandmain">
<nav>
<a id="customerinfo" href="/kundenInformation">Information</a> <br>
<a id="furtherinfo" href="/weitereInfo">Weitere Information</a> <br>
<a id="favoritesinfo" href="/Favoriten">Interessenten</a> <br>
<a id="customerinfo" href="/presentationProducerSide">Präsentation von meiner Firma</a>
</nav>
<main>
<h1>List of all customers who clicked the box "mark as favorite" when they entered
    the producer presentation page</h1>

</main>
</div>

<footer>
    <p>Über Uns / Datenschutz / Contact / Einwilligungsfreigabe {{>logout}}<p>

</footer>
