<h1>Let's legalize BASE Jumping!</h1>

<img src="bridgepolice.jpg" alt="bridge jump with police" width="400" height="300" class ="homeimage" />

<h4>BASE Jumping is not a crime! BASE jumpers get fines or are even arrested for jumping off
    a cliff or a building. You find this normal? Ok, then, please consider this: there are many
    car drivers in your city that are way more dangerous! PLEASE REMEMBER: BASE jumpers are
    professional skydivers. They are not crazy... They just want to feel free and make their
    life a dream. So, if you want freedom, sign! </h4>

<form method="post">
<!-- <input type="text" name="firstname" placeholder="firstname">
<input type="text" name="lastname" placeholder="lastname">-->
<input id="hidden-input" type="hidden" name="hidden" value ="">
<button id="button" type="submit">Submit</button>
</form>

<canvas id="canvas" style="border:1px solid #000;"></canvas>

{{>logout}}

<script src="/script.js" charset="utf-8"></script>
