<h1>Kgool!</h1>


<form method="post">
<!-- <input type="text" name="firstname" placeholder="firstname">
<input type="text" name="lastname" placeholder="lastname">-->
<input id="hidden-input" type="hidden" name="hidden" value ="">
<button id="button" type="submit">Submit</button>
</form>

<canvas id="canvas" style="border:1px solid #000;"></canvas>

{{>logout}}

<script src="/script.js" charset="utf-8"></script>
