<header>
<img src="./images/Kgool-logo2.png" alt="Kgool Logo" class ="homeimage" />

</header>
<div class="navandmain">
<nav>
    <a id="customerinfo" href="/kundenInformationCustomer">Information</a> <br>
    <a id="favoritessuppliersinfo" href="/Favoriten">Meine lieblingsfirmen</a> <br>
    <a id="searchlink" href="/welcome">Firma suchen</a>
</nav>
<main>
<h1>List of all supplier that the customer marked as "favorite"</h1>

</main>
</div>

<footer>
    <p>Über Uns / Datenschutz / Contact / Einwilligungsfreigabe {{>logout}}<p>

</footer>
