<header>
{{>navprofilecustomer}}

</header>
<div class="navandmain">

<main>
<h1>Meine Liebelingsfirmen</h1>
<h3>Gastrobrill</h3>
<h3>Gastroquelle</h3>

</main>
</div>

<footer>
    <p>Über Uns / Datenschutz / Contact / Einwilligungsfreigabe {{>logout}}<p>

</footer>
