
<h1>Please, log in!</h1>


<form method="post">
    <input id="emaillogin" type="email" name="email" placeholder="email">
<input id="passwordlogin" type="password" name="password" placeholder="password">
<button id="button" type="submit">Log in</button>
</form>

<p id="registertext">If you are not a member, please <a href="/">register</a></p>
