
<h1>Please, log in!</h1>

<form method="post">
    <input type="text" name="email" placeholder="email">
<input type="password" name="password" placeholder="password">
<button id="button" type="submit">Log in</button>
</form>
