<header>
<img src="./images/Kgool-logo2.png" alt="Kgool Logo" class ="homeimage" />

</header>

<main>
            <h1>Meld dich an!</h1>
            <div class="loginbox">
            <form method="post">
                <input id="usernamelogin" type="text" name="username" placeholder="Benutzername">
            <input id="passwordlogin" type="password" name="password" placeholder="Passwort">
            <button id="button" type="submit">Log in</button>
            </form>
        </div>

</main>
        <footer>
            <p>Über Uns / Datenschutz / Contact / Einwilligungsfreigabe {{>logout}}<p>

        </footer>
