
<header>
<img src="./images/Kgool-logo2.png" alt="Kgool Logo" class ="homeimage" />

</header>

<main>
    <h1>Ihre persönliche Präsentation Seite</h1>
<form method="post">
    <p>Logo</p>
    <p>Anschrift: <input type="text" name="lastname" placeholder="Nachname" id ="lastname"> </p>
    <p>Kontakt: <input type="text" name="kontakt" placeholder="Kontakt" id ="kontakt"> </p>
    <p>GoogleMap</p>
    <p>Über Uns: <input type="text" name="uberuns" placeholder="Über Uns" id ="uberuns"> </p>
    <p>Produktkategorien: https://www.internorga.com/aussteller/profil/ausstellerverzeichnis/#/suche/t=cat_categories;c=50 <input type="text" name="produktkategorien" placeholder="Produktkategorien" value="" id ="Produktkategorien"> </p>
    <p>Stichworte: <input type="text" name="companyname" placeholder="Stichworte" id ="stichworte"> </p>
    <p>Katalog: link(neues fenster und link sollte ein bild sein von katalog erste seite) zur katalogue: zb: http://info.gastroquelle.com/bk/gastronomiebedarf oder http://info.gastroquelle.com/bk/biggreenegg/</p>
</form>

</main>


<footer>
    <p>Über Uns / Datenschutz / Contact / Einwilligungsfreigabe {{>logout}}<p>

</footer>
