
<header>
<img src="./images/Kgool-logo2.png" alt="Kgool Logo" class ="homeimage" />

</header>

<main>
    <h1>Info über Hersteller</h1>
<form method="post">
    <p>Logo</p>
    <p>Anschrift</p>
    <p>Kontakt</p>
    <p>GoogleMap</p>
    <p>Über Uns </p>
    <p>Produktkategorien</p>
    <p>Stichworte</p>
    <p>Katalog herunterladen</p>
</form>

</main>


<footer>
    <p>Über Uns / Datenschutz / Contact / Einwilligungsfreigabe {{>logout}}<p>

</footer>
