<h1>This is the list of producers you searched for</h1>

<form method="get">
    <ul>
<p>Logo: {{userData.logo}} </p>
<p>Firmenname: {{userData.firmenname}} </p>
<p>Stadt: {{userData.stadt}} </p>
<p>Webseite: {{userData.webseite}} </p>
</ul>
<form method="get">
