<header>
{{>navprofilecustomer}}

</header>
<div class="navandmainprofilecustomer">
<main>
<form method="get">
<h1>Mein Profil</h1>
<br>
    <p><b>Vorname:  </b>{{userData.vorname}}</p>
    <p><b>Nachname:  </b> {{userData.nachname}} </p>
    <p><b>email:  </b> {{userData.email}} </p>
    <p><b>Benutzername:  </b> {{userData.benutzername}} </p>
</form>

</main>
</div>

<footer>
    <p>  Über Uns   |   Datenschutz  |   Contact   |   Einwilligungsfreigabe                <p> {{>logout}}

</footer>
