
<h1>Profile Administrator: OPTION!!!!</h1>

<form method="post">
    <input type="text" name="age" placeholder="age">
    <input type="text" name="city" placeholder="city">
    <input type="text" name="url" placeholder="homepage">
    <button id="button" type="submit">Continue</button>
</form>

{{>logout}}
