
<h1>Please register</h1>

<img src="base.jpg" alt="base jumpers from cliff" width="400" height="300" class="homeimage"/>


<form method="post" class="signerdata">
    <input type="text" name="firstname" placeholder="firstname" id="firstname">
    <input type="text" name="lastname" placeholder="lastname" id ="lastname">
    <input type="email" name="email" placeholder="email" id ="email">
    <input type="password" name="password" placeholder="password" value="" id ="password">
</br> </br>
    <button id="button" type="submit">SIGN UP</button>
</form>

<p id="logintext">If you are already a member, please <a href="/login">log in</a></p>
