
<header>
<img src="./images/Kgool-logo2.png" alt="Kgool Logo" class ="homeimage" />

</header>

<main>
<h1 class="registrierung">Registrierung</h1>
    <form method="post" class="customerdata">
        <p>Vorname: <input type="text" name="firstname" placeholder="Vorname" id="firstname"> </p>
        <p>Nachname: <input type="text" name="lastname" placeholder="Nachname" id ="lastname"> </p>
        <p>E-mail: <input type="email" name="email" placeholder="E-mail" id ="email"> </p>
        <p>Benutzername: <input type="text" name="benutzername" placeholder="Benutzername" id ="loginname"> </p>
        <p>Passwort: <input type="password" name="password" placeholder="password" value="" id ="password"> </p>
        <p>Firmenname: <input type="text" name="firmenname" placeholder="Firmenname" id ="companyname"> </p>
        <p>Steuernummer: <input type="text" name="steuernummer" placeholder="Steuernummer" id ="steuernummer"> </p>
    </br> </br>
        <button id="button" type="submit">Registrieren</button>
    </form>

    <p id="logintext">Bereits registriert? Melde dich <a href="/loginProducer">hier</a></p>

</main>

<footer>
    <p>Über Uns / Datenschutz / Contact / Einwilligungsfreigabe {{>logout}}<p>

</footer>
