
        <h1>Cheers! Long life to Base Jumping</h1>
        <img src="{{signature}}" alt="signature of user"></br>
        <a href="/signers">See all {{length}} signers</a></br>
        <a href="/profile/edit">Edit your profile</a></br>
        <a href="/deleteSignature">Delete your signature</a></br>

{{>logout}}
