
        <h1>Cheers! Long life to Base Jumping!!!</h1>
        <img src="ellen.jpg" alt="lovely ellen wingsuiting from cliff" width="300" height="200" id="homeimage"/>
        <img src="{{signature}}" alt="signature of user" id="signatureimage"></br>
        <a href="/signers">See all {{length}} signers</a></br>
        <a href="/profile/edit">Edit your profile</a></br>
        <a href="/deleteSignature">Delete your signature</a></br>

{{>logout}}
