<header>
<img src="./images/Kgool-logo2.png" alt="Kgool Logo" class ="homeimage" />

</header>
<div class="navandmain">
<nav>
    <a id="producerinfo" href="/profileProducer">Information</a> <br>
    <a id="furtherinfo" href="/weitereInfo">Weitere Information</a> <br>
    <a id="favoritesinfo" href="/Favoriten">Interessenten</a> <br>
    <a id="customerinfo" href="/presentationProducerSide">Präsentation meiner Firma</a>
</nav>
<main>
<form method="post">
    <h3>Kundeninformation page will be display all info herunder </h3>
    <h3>and will have a link to edit all info"</h3>
    <p>Strasse: <input type="text" name="lastname" placeholder="Nachname" id ="lastname"> </p>
    <p>Nummer: <input type="number" name="nummer" placeholder="Nummer" id ="nummer"> </p>
    <p>Stadt: <input type="text" name="stadt" placeholder="Stadt" id ="stadt"> </p>
    <p>Land: <input type="text" name="land" placeholder="Land" id ="land"> </p>
    <p>Telefon: <input type="text" name="telefon" placeholder="Telefon" id ="telefon"> </p>
    <p>Fax: <input type="text" name="fax" placeholder="Fax" id ="fax"> </p>
    <p>Webseite: <input type="text" name="webseite" placeholder="Webseite" id ="webseite"> </p>
    <p>Beruf: <input type="text" name="beruf" placeholder="Beruf" id ="beruf"> </p>
</form>

</main>
</div>

<footer>
    <div id="footerlink">  Über Uns   |   Datenschutz  |   Contact   |   Einwilligungsfreigabe {{>logout}}<p>

</footer>
