<header>
<img src="./images/Kgool-logo2.png" alt="Kgool Logo" class ="homeimage" />
<div class="link">
<a href="/login" class="loginlink">ANMELDEN</a>
<a href="/registerCustomer" class="registeruserlink">Als Kunde Registrieren</a>
<a href="/registerProducer" class="registerproducerlink">Als Hersteller Registrieren</a>
</div>

</header>

<main>
            <h1>Gastronomie Produkthersteller finden und verbinden</h1>
            <form method="post">
            <input id="searchbar" type="text" name="Suche Hersteller" placeholder="Suche nach Hersteller Name">
            <button id="button" type="submit">Hersteller finden!</button>
            </form>
            <div class="producerslist">
                <h1>hersteller Liste mit Logo, Name und short description des Producers </h1>
                <p>Ergebnis sollte so aussehen: https://www.wlw.de/de/firma/tchibo-coffee-service-gmbh-457758?category_id=75005&q=Kaffeeautomaten</p>
            </div>
</main>
        <footer>
            <p>Über Uns / Datenschutz / Contact / Einwilligungsfreigabe {{>logout}}<p>

        </footer>



<script src="/script.js" charset="utf-8"></script>
