<header>
{{>nav}}

</header>
<main>

            <img src="./images/Kgool-Logo2.png" alt="Suche Logo" class ="homeimage" />
            <h1 id="titelsuche">Gastronomie Produkthersteller finden und verbinden</h1>
            <form action ="/welcome" method="post" id="suchfield">
            <input id="suche" type="text" name="suche" placeholder="Suche nach Stichworte">
            <br>
            <button id="button" type="submit">Hersteller finden!</button>
            </form>

</main>
        <footer>
            <div id="footerlink">  Über Uns   |   Datenschutz  |   Contact   |   Einwilligungsfreigabe <div>

        </footer>



<script src="/script.js" charset="utf-8"></script>
