body {
    display: flex;
    background-color: white;
    flex-direction: column;
    justify-content: flex-start;;
    font-family: "Montserrat", sans-serif;
}

header {
    height: 21vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

navandmainprofilecustomer{
    display:flex;
    flex-direction: row;
    justify-content: flex-start;
}

navandmainprofileproducer{
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
}

/* .navandmain{
display:flex;
flex-direction: row;
justify-content: flex-start;
}

nav{

    display: flex;
    justify-content: flex-start;
    flex-direction: column;
} */

/* //////// */
/*  NAV-BAR */
/* //////// */

.nav-bar {
    display: flex;
    flex-direction: row;
    background-color: #a9d4df;
    top: 0;
    z-index: 1;
    position: fixed;
    width: 100%;
    height: 140px;
}

.left {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25%;
}
.center {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 50%;
}

.inner-center-up {
    display: flex;
    justify-content: center;
    margin-left: -40px;
    width: 100%;
}

.inner-center-up h1 {
    margin-right: 20px;
}

.inner-center-down {
    display: flex;
    justify-content: flex-start;
    width: 100%;
}

.inner-center-down a {
    padding: 30px;
}

a {
    text-decoration: none;
    color: black;
}

.right {
    display: flex;
    align-items: center;
    width: 25%;
}

.left i {
    margin-left: 50px;
}
.right i {
    font-size: 30px;
    margin: 20px;
}

.underline {
    display: flex;
    justify-content: center;
    background-color: #a9d4df;
}

/* //////////////// */
/*  NAV-BAR FINISH */
/* //////////////// */

main {
    height: 70vh;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
}

.homeimage {
    width: 30vh;
    height: 20vh;
    display: flex;
    justify-content: center;
    align-self: center;
}

#titelsuche{
align-self: center;
}

#suche{
height: 15vh;
width: 100%;
font-size: 8vh;
align-self: center;
}

#suchfield{
    align-self: center;
}

footer {
    height: 5vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#footerlink{

}

#logout{

}

h3 {

}

button {
    -moz-box-shadow: 0px 10px 14px -7px #276873;
    -webkit-box-shadow: 0px 10px 14px -7px #276873;
    box-shadow: 0px 10px 14px -7px #276873;
    background: -webkit-gradient(
        linear,
        left top,
        left bottom,
        color-stop(0.05, #599bb3),
        color-stop(1, #408c99)
    );
    background: -moz-linear-gradient(top, #599bb3 5%, #408c99 100%);
    background: -webkit-linear-gradient(top, #599bb3 5%, #408c99 100%);
    background: -o-linear-gradient(top, #599bb3 5%, #408c99 100%);
    background: -ms-linear-gradient(top, #599bb3 5%, #408c99 100%);
    background: linear-gradient(to bottom, #599bb3 5%, #408c99 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#599bb3', endColorstr='#408c99',GradientType=0);
    background-color: #599bb3;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    border-radius: 8px;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
    color: #ffffff;
    font-family: Arial;
    font-size: 20px;
    font-weight: bold;
    padding: 13px 32px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #3d768a;
}

button:hover {
    background: -webkit-gradient(
        linear,
        left top,
        left bottom,
        color-stop(0.05, #408c99),
        color-stop(1, #599bb3)
    );
    background: -moz-linear-gradient(top, #408c99 5%, #599bb3 100%);
    background: -webkit-linear-gradient(top, #408c99 5%, #599bb3 100%);
    background: -o-linear-gradient(top, #408c99 5%, #599bb3 100%);
    background: -ms-linear-gradient(top, #408c99 5%, #599bb3 100%);
    background: linear-gradient(to bottom, #408c99 5%, #599bb3 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#408c99', endColorstr='#599bb3',GradientType=0);
    background-color: #408c99;
}

button:active {
    position: relative;
    top: 1px;
}

.link {
}



.loginlink {
}

.registeruserlink {
}

.registerproducerlink {
}

.loginbox {
    display: flex;
    flex-direction: column;
}

#usernamelogin {
}

#passwordlogin {
}

#searchbar {
    width: 40vh;
    height: 5vh;
}

.presentation{
display: flex;
flex-direction: column;
height: 65vh;
width: 90vw;
flex-wrap: wrap;
}

#titelpresfirma{
height: 5vh;
}

#anschrift{
height: 30vh;
width: 35vh;
}

#cityplz{
    display: flex;
width: 35vh;
}

#contact{
height: 20vh;
width: 35vh;
}

#uberunspraesi{
height: 20vh;

}

#stichworte{

}

#katalog{

}

#contactedit{
height: 20vh;
width: 35vh;
}

#uberunsedit{
height: 20vh;

}

#uberuns{
width: 40vh;
height: 15vh;
}

#stichworteedit{

}

#katalogedit{

}

ul > li{
    style: none;

}

#displaysearch{
    display: flex;
    flex-direction: column;
    height: 60vh;
    width: 90vw;
    flex-wrap: wrap;
}
